.submenu {
    display: none;
    /* border: 1px solid #000; */
    background: #fff;
    position: absolute;
    text-align: left;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.navbar_menu {
    position: relative;
}

.navbar_menu li a:hover {
    background: #eeebf4;
    color: #000;
}

.navbar_menu > li:hover .submenu {
    display: block;
}

.product_image {
    display: flex;
    justify-content: center;
}

.product_image img {
    max-height: 260px;
}

#cart-modal .modal-dialog {
    max-width: 80%;
}
