body.modal-open {
    overflow: visible;
}

#menu-page .product-detail {
    cursor: pointer;
}

/* :is(#menu-page #list-area)::-webkit-scrollbar{
    width: 0px;
}*/

#menu-page #list-area,
#theloai-page #list-area,
#sanpham-page #list-area {
    padding: 20px;
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

#menu-page #modal-box .qty-product input {
    text-align: center;
    width: 50px;
}

#menu-page #modal-box .qty-product i {
    cursor: pointer;
}

/* Order-page */

/* #order-page {
    display: flex;
}*/

#order-page #cart-area,
#order-page #customer-area {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

#order-page #cart-area {
    max-height: 500px;
    overflow-y: auto;
}

#order-page #customer-area {
    max-height: 420px;
}

#order-page #cart-area .qty-product input {
    text-align: center;
    width: 50px;
}

#order-page #cart-area .qty-product i {
    cursor: pointer;
}

#order-page .flex-wrap {
    display: flex;
    align-items: center;
    height: 100%;
}

#order-page #cart-area .remove-item-cart {
    cursor: pointer;
}

.h-100per {
    height: 100%;
}

/* order-place */

#order-placed-page #list-order-placed .fa-eye {
    cursor: pointer;
}

#order-placed-page #list-order-placed {
    padding: 20px;
    /* margin: 10px; */
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* Admin page */

#product-admin-page #product-area {
    padding: 20px;
    /* margin: 10px; */
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

#product-admin-page #product-area .btn-add-product {
    margin-bottom: 10px;
}

.fa-eye,
.fa-edit,
.fa-trash-alt {
    cursor: pointer;
}

.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px) !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 31px !important;
    right: 6px !important;
}

#btn-add {
    margin-bottom: 1rem;
}

#sanpham-page .modal-dialog {
    max-width: 80%;
}

#sanpham-page #modal-box .sanpham-detail {
    overflow-y: auto;
    height: calc(100vh - 360px);
}

#sanpham-page #modal-box .sanpham-item {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
}

#sanpham-page #modal-box .remove-row {
    position: absolute;
    right: 0;
    top: 0;
    /* padding: 7px; */
    padding-right: unset;
    padding-left: unset;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

#sanpham-page #modal-box .btn-remove-row {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 36px;
    padding-bottom: 35px;
    padding-right: 15px;
    /* margin-right: 10px; */
}

#sanpham-page #modal-box .preview {
    display: flex;
    overflow-x: auto;
    margin-bottom: 15px;
}

#sanpham-page #modal-box .preview img {
    width: 100px !important;
    margin: 10px;
}
