.submenu {
    display: none;
    /* border: 1px solid #000; */
    background: #fff;
    position: absolute;
    text-align: left;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.navbar_menu {
    position: relative;
}

.navbar_menu li a:hover {
    background: #eeebf4;
    color: #000;
}

.navbar_menu > li:hover .submenu {
    display: block;
}

.product_image {
    display: flex;
    justify-content: center;
}

.product_image img {
    max-height: 260px;
}

#cart-modal .modal-dialog {
    max-width: 80%;
}

#cart-modal .fa-caret-left,
#cart-modal .fa-caret-right {
    position: absolute;
    top: 18%;
    font-size: 1.5rem;
    cursor: pointer;
}

#cart-modal .fa-caret-left {
    left: 8px;
}

#cart-modal .fa-caret-right {
    right: 8px;
}

#cart-modal .fa-trash {
    font-size: 2rem;
}

#cart-modal .modal-body {
    max-height: 700px;
    overflow-y: auto;
}

button:hover {
    cursor: pointer;
}

#mua-hang-page .danh-sach-san-pham {
    max-height: 500px;
    overflow-y: auto;
}

#mua-hang-page .single_product_container .row {
    /* max-height: calc(100vh - 350px); */
}
